html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
#navbarName {
  margin-left: 10%;
  border: 2px solid whitesmoke;
  color: whitesmoke;

  padding: 5px 15px 5px 15px;

}

#blur {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}